.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f4f8;

  .mobile-login {
    background: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;

    h2 {
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
      color: #333;
    }

    .form-group {
      margin-bottom: 1.5rem;
      text-align: left;

      label {
        display: block;
        margin-bottom: 0.5rem;
        color: #333;
        font-weight: 600;
      }

      ion-input {
        --padding-start: 1rem;
        --padding-end: 1rem;
        --border-radius: 8px;
        --background: #f4f6f8;
        --placeholder-color: #333;
        --box-shadow: none;
        --border-width: 1px;
        --border-color: #e1e3e5;
        color: #000;
      }

      .me{
        display: flex;
        align-items: center;
      }
      .error-message {
        color: #007bff;
        font-size: 0.9rem;
        margin-top: 0.5rem;
        text-align: left;
      }
      ion-checkbox {
        --color: #007bff;
        margin-right: 0.5rem;
        --border-radius: 3px;
        --border-width: 1px;
        --border-color: #007bff;
        --border-style: solid;
        padding-left: 5px;
      }
    }

    ion-button {
      --background: #007bff;
      --border-radius: 8px;
      width: 100%;
      height: 4rem;
      font-size: 1rem;
      margin-top: 1rem;
      color: #f0f4f8;
    }

    .forgot-password {
      color: #007bff;
      margin-top: 1rem;
      display: block;
      font-size: 0.9rem;
      text-decoration: none;
    }

    .forgot-password:hover {
      text-decoration: underline;
    }
  }
}
