<ion-content>
  <ion-header>
    <div class="header-login">
      <img src="./assets/img/logo duoc.png" alt="logo">
        <h2>RegistrAPP</h2>
    </div>
  </ion-header>
  <div class="login-container">
    <div class="mobile-login">
      <h2>Login</h2>
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <ion-input type="email" class="input"></ion-input>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <ion-input type="password" class="input"></ion-input>
          <div class="me">
            <p class="error-message">Remember me?</p>
            <ion-checkbox></ion-checkbox>
          </div>
        </div>
        <ion-button href="/home">Login</ion-button>  <!--<ion-button href="/profesor">Login</ion-button>-->
        <p class="forgot-password">Forgot Password?</p>
      </form>
    </div>
  </div>


  <ion-footer></ion-footer>
</ion-content>
