<div class="cabecera">
  <img src="./assets/img/logo duoc.png" alt="" class="logo">
  <div class="content">
    <h2>RegistrAPP</h2>
    @if (direccion === ''){
      <p>Hola, inicia sesion</p>
      <div class="links">
        <a [routerLink] = "['/home']">Home</a>
        <a [routerLink] = "['/login']">Ingresar</a>
      </div>
    }
    @if (direccion){
      <p>Bienvenido: {{nombreApellido}}</p>
      <div class="links">
        <a [routerLink] = "['/home']">Home</a>
        <a [routerLink] = "['/logout']">Salir</a>
      </div>
    }
  </div>
</div>
