<ion-content>
  <app-header></app-header>
  <!-- <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <ion-button (click)="guardarNombre()">Saludar</ion-button> -->

  <!-- <div class="links">
    <a [routerLink]= "['/login']">Ingresar como Docente</a>
    <a [routerLink]= "['/login']">Ingresar como Alumno</a>
  </div> -->

  @if (direccion === 'profesor@gmail.com'){
    <div class="links">
      <img src="assets/img/qr_1.png" alt="">
      <a [routerLink]= "['/profesor']">Volver a las asignaturas</a>
    </div>
  }
  @if (direccion === 'alumno@gmail.com'){
    <div class="links">
      <img src="assets/img/camera.png" alt="">
      <a [routerLink]= "['/alumno']">Volver a las asignaturas</a>
    </div>
  }

  <app-footer></app-footer>
  </ion-content>
