<ion-content>
  <app-header></app-header>
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-label>Matematica 1 - 002D</ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="outline" size="small" (click)="asistencia()">Generar QR</ion-button>
            <ion-button fill="outline" size="small" (click)="detalleAsignatura()">Detalle de la Asignatura</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-label>Matematica 2 - 001D</ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="outline" size="small" (click)="asistencia()">Generar QR</ion-button>
            <ion-button fill="outline" size="small" (click)="detalleAsignatura()">Detalle de la Asignatura</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-label>Ingles Basico - 005D</ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="outline" size="small" (click)="asistencia()">Generar QR</ion-button>
            <ion-button fill="outline" size="small" (click)="detalleAsignatura()">Detalle de la Asignatura</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-label>Proceso portafolio Inicial - 002D</ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="outline" size="small" (click)="asistencia()">Generar QR</ion-button>
            <ion-button fill="outline" size="small" (click)="detalleAsignatura()">Detalle de la Asignatura</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-label>Estadistica - 003D</ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="outline" size="small" (click)="asistencia()">Generar QR</ion-button>
            <ion-button fill="outline" size="small" (click)="detalleAsignatura()">Detalle de la Asignatura</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-footer>
    <app-footer></app-footer>
  </ion-footer>
</ion-content>
