<ion-content>
  <app-header></app-header>
  <!-- Contenido del Login -->
   <div class="login">
    <h1>Registre sus datos</h1>
    <ion-item class="ingresoD">
      <ion-input  label="Nombre" label-placement="floating" fill="solid"></ion-input>
    </ion-item>
    <ion-item class="ingresoD">
      <ion-input  label="Apellido" label-placement="floating" fill="solid"></ion-input>
    </ion-item>
    <ion-item class="ingresoD">
      <ion-input  label="Email" label-placement="floating" fill="solid"></ion-input>
    </ion-item>
    <ion-item class="ingresoD">
      <ion-input  type="password"  label="Contraseña" label-placement="floating" fill="solid"></ion-input>
    </ion-item>
    <!-- Mostrar mensaje de error si el login falla -->

    <div class="btn">
      <ion-button shape="round">Iniciar sesión</ion-button>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
